<h1>About Face Space</h1>
<p>This site is a project for a Post Grad course at the National College of Ireland and is not intended for commercial purposes, not is it meant to infringe upon the intellectual property of any other similarly named existing site.  This site does not collect private data from its users except for name and email address.  Encryption is in effect.  This site will be taken down from the love web once academic assessment of it is complete.  Find me in app/views/pages/home.html.erb</p>
