<h1>Contact me...</h1>
<p>Hey, if you have a comment about this site, feel free to post on my profile and follow me here: http://facespace.heroku.com/users/1.  Thanks, Graeme.  Find me in app/views/pages/contact.html.erb</p>
